
%canvas#myChart {"width"=>"200" "height"=>"200"}

:javascript
  function showDayData(event, activeElements) {
    data = activeElements[0]._model.label
  }


:javascript
  var ctx = $("#myChart");
  var data = {
    labels: ["Breakfast", "Lunch", "Dinner", "Snack", "Remaining Calories"],
    datasets: [
        {
            data: #{@chart_data},
            backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "orange",
                "green"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "orange",
                "green"
            ]
        }]
  };

  var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: data,
    options: {
      onClick: showDayData
    }
  });