.month.hidden
  .canvas-container
    %canvas#Month

:javascript
  Chart.defaults.global.defaultFontSize = 18;

  var dtx = $("#Month");
  var data = {
    datasets: [
    {
      fill: false,
      backgroundColor: "rgba(75,192,192,0.4)",
      borderColor: "rgba(75,192,192,1)",
      borderWidth: 4,
    },
    {
      fill: false,
      borderWidth: 4,
      backgroundColor: "rgba(0,192,0,0.4)",
      borderColor: "rgba(0,192,0,1)"
    }
    ]
  }

  var monthChart = new Chart(dtx, {
    type: 'line',
    data: data,
    options: {
      scales: {
        xAxes: [{
          position: 'bottom',
          ticks: {
            step: 2
          }
        }]
      },
      legend: {
        position: 'bottom',
        labels: {
          text: "Calories Consumed, Target Calories"
        }
      }
    }
  });