.month.hidden
  .change-page
    %span.change-page-link
      = link_to "&#8678;".html_safe, get_month_data_path(@user), class: 'back monthChart'
    %span.date.change-page-link
      = User.generate_month_label(@date)
    %span.change-page-link
      = link_to "&#8680;".html_safe, get_month_data_path(@user), class: 'forward monthChart'
  .canvas-container
    %canvas#monthChart

:javascript
  var dtx = $("#monthChart");
  var data = {
        labels: [],
      datasets: [{
        data: [],
        backgroundColor: [
          "#FF6384",
          "#36A2EB",
          "#FFCE56",
          "#FFA500",
          "#2EDF2E"
        ],
        borderColor: [
          "#E55A77",
          "#3399DE",
          "#EEC04F",
          "#EB9800",
          "#28BF28"
        ],
        borderWidth: 1
      },
      {
        type: 'line',
        data: []
      }
      ]
    }


  var monthChart = new Chart(dtx, {
    type: 'line',
    data: data,
    options: {
      layout: {
        padding: 0
      },
      title: {
        display: true,
        text: "YO MOMMMA",
        fontSize: 36
      },
      scales: {
        yAxes: [{
          ticks: {
          }
        }]
      }
    }
  });