.month.hidden
  .change-page
    %span.change-page-link.month-link
      = link_to "&#8678;".html_safe, get_month_data_path(@user), class: 'back Month'
    %span.date.change-page-link
      = @user.generate_month_label(nil)
    %span.change-page-link
      = link_to "&#8680;".html_safe, get_month_data_path(@user), class: 'forward Month'
  .canvas-container
    %canvas#Month

:javascript
  Chart.defaults.global.defaultFontSize = 18;

  var dtx = $("#Month");
  var data = {
    datasets: [
    {
      fill: false,
      backgroundColor: "rgba(75,192,192,0.4)",
      borderColor: "rgba(75,192,192,1)",
      borderWidth: 4,
    },
    {
      fill: false,
      borderWidth: 4,
      backgroundColor: "rgba(0,192,0,0.4)",
      borderColor: "rgba(0,192,0,1)"
    }
    ]
  }

  var monthChart = new Chart(dtx, {
    type: 'line',
    data: data,
    options: {
      scales: {
        xAxes: [{
          position: 'bottom',
          ticks: {
            step: 2
          }
        }]
      },
      legend: {
        position: 'bottom',
        labels: {
          text: "Calories Consumed, Target Calories"
        }
      }
    }
  });