.week.hidden
  .change-page
    %span.change-page-link.week-link
      = link_to "&#8678;".html_safe, get_data_path(@user), class: 'back Week'
    %span.date.change-page-link
      = @user.generate_week_label(nil)
    %span.change-page-link
      = link_to "&#8680;".html_safe, get_data_path(@user), class: 'forward Week'
  .canvas-container
    %canvas#Week

:javascript
  var dtx = $("#Week");
  var data = {
      labels: [],
      datasets: [
          {
              backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#FFA500",
                "#2EDF2E"
              ],
              hoverBackgroundColor: [
                "#E55A77",
                "#3399DE",
                "#EEC04F",
                "#EB9800",
                "#28BF28"
              ]
          },
          {
              type: 'line',
              data: []
          }
      ]
    }


  var weekChart = new Chart(dtx, {
    type: 'bar',
    data: data,
    options: {
      layout: {
        padding: 0
      },
      title: {
        display: true,
        text: "YO MOMMMA",
        fontSize: 36
      },
      scales: {
        yAxes: [{
          ticks: {
          }
        }]
      }
    }
  });

