.week.hidden
  .change-page
    %span.change-page-link
      = link_to "&#8678;".html_safe, get_week_data_path(@user), class: 'back weekChart'
    %span.date.change-page-link
      = @user.generate_week_label(@date - 7, @date)
    %span.change-page-link
      = link_to "&#8680;".html_safe, get_week_data_path(@user), class: 'forward weekChart'
  .canvas-container
    %canvas#weekChart

:javascript
  var dtx = $("#weekChart");
  var data = {
        labels: ["Date1", "Date2", "Date3", "Date4", "Date5", "Date6", "Date7"],
      datasets: [{
        data: [1800, 1600, 400, 900, 700, 100],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      },
      {
        type: 'line',
        data: [2000,1000,200,100,2000,3000,2000]
      }
      ]
    }


  var weekChart = new Chart(dtx, {
    type: 'bar',
    data: data,
    options: {
      layout: {
        padding: 0
      },
      title: {
        display: true,
        text: "YO MOMMMA",
        fontSize: 36
      },
      scales: {
        yAxes: [{
          ticks: {
          }
        }]
      }
    }
  });