%nav
  %button#nav-1.col-4.nav-link
    Day
  %button#nav-2.col-4.nav-link
    Week
  %button#nav-3.col-4.nav-link
    Month

= render partial: 'day'
= render partial: 'week'
= render partial: 'month'

