/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

#chart-container {
  width: 500px;
  height: 500px;
  margin: auto;
}

.canvas-container {
  position: relative;
}

.middle-text {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

* {
  box-sizing: border-box;
}


body {
  max-width: 1090px;
  margin: auto;
  margin-bottom: 500px;
}

nav {
  display: flex;
  height: 60px;
  margin: 0;
}

button {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
  font-size: 25px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#nav-1 {
  background-color: #FF6384
}

#nav-1:hover {
  background-color: #E55A77
}

#nav-2 {
  background-color: #36A2EB
}

#nav-2:hover {
  background-color: #3399DE
}

#nav-3 {
  background-color: #FFCE56
}

#nav-3:hover {
  background-color: #FFCE56
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid white;
}

.change-page {
  margin-top: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-page-link {
  padding: 0 10px;
  color: black;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

td,tr,th {
  border: 1px solid black;
}

.food-container {
  margin: auto;
  display: flex;
  align-items: center;
  align-content: center;
}

.hidden {
  display: none;
}

.foods-container {
  display: flex;
  align-items: center;
  align-content: center;
}

.close-meals a {
  color: black;
}

.day {
  display: block;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 800px;
  margin: 30px;
}

.description {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.sign-up {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.form {
  border: none;
}

.text-form {
  display: flex;
  justify-content: center;
  margin: 30px;
}

fieldset {
  border: none;
}


.over {
  color: red;
}