/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

 #float-none {
  float: none;
  padding: 0;
 }

 .show-container {
    background: white;
    margin-top: 140px;
 }

 #change-date-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  margin-bottom: 15px;
 }

#change-chart-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#change-date-section img {
  width: 24px;
  height: 24px;
}

#change-chart-buttons button {
  flex-grow:  1;
  background-color: white;
  color: blue;
  border: none;
  border-right: 1px solid blue;
  padding: 10px 0;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  outline: none;
  font-size: 16px;
}

#change-chart-buttons button:last-child {
  border-right: 1px solid blue;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

#change-chart-buttons button:first-child {
  border-left: 1px solid blue;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

#change-chart-buttons button.active {
  background-color: blue;
  color: white;
}

#top-nav {
  color: blue;
  background: #FAFAFA;
  padding: 10px 25px;
  border-bottom:  1px solid #E2E2E2;
  font-size: 16px;
  position: fixed;
  top: 0;
  left:  0;
  width: 100%;
  z-index: 100;
}

#date-label {
  color: black;
  font-weight: bold;
}


#chart-container {
  width: 500px;
  height: 500px;
  margin: auto;
}

.canvas-container {
  position: relative;
  max-width: 1190px;
  margin: auto;
}

.middle-text {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.middle-text p {
  margin: 10px auto;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  float: none;
  margin: auto;
  margin-bottom: 500px;
  background: white;
  height: 100%;
}

nav {
  display: flex;
  height: 60px;
  margin: 0;
}

button {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
  font-size: 25px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#nav-1 {
  background-color: #FF6384
}

#nav-1:hover {
  background-color: #E55A77
}

#nav-2 {
  background-color: #36A2EB
}

#nav-2:hover {
  background-color: #3399DE
}

#nav-3 {
  background-color: #FFCE56
}

#nav-3:hover {
  background-color: #FFCE56
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid white;*/
}

.change-page {
  margin-top: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-page-link {
  padding: 0 10px;
  color: black;
}

a {
  text-decoration: none;
}

.food-container {
  width: 100%;
  margin: auto;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding:  15px;
}

.meal-type {
  font-size: 24px;
  font-weight: bold;
  margin: 8px auto;

}

tbody tr:nth-child(even) {
  background: #f2f2f2;
}

thead {
  background: #cbcbcb;
  font-weight: bold;
}

.close-meals a {
  color: black;
}

.table-header {
  display: flex;
  justify-content: center;
}

.meal-type {
  flex-grow: 2;
}

.close-meals {
  flex-grow: 1;
}

.hidden {
  display: none;
}

.day {
  display: block;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 5px;
  max-width: 100%;
}

.description {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.sign-up {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.form {
  border: none;
}

.text-form {
  display: flex;
  justify-content: center;
  text-align: center;
}

fieldset {
  border: none;
}


.over {
  color: red;
}


@media screen and (max-width: 800px) {
    [class*="col-"] {
        width: 100%;
      }
}

.submit-box {
  border-radius: 5px;
  margin-bottom: 10px;
}

.submit-box:active {
  background-color: #D3D3D3;
}

.submit-box:focus {
  outline: none;
  background-color: #D3D3D3;
}

.submit {
  color: #fff;
  background-color: #0E7C7B;
  text-shadow: -1px 1px #417cb8;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.submit:hover{
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
  cursor: pointer;
}

.submit:active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}


.home {
  background: url('splash-page-background.svg');
  background-size: cover;
  height: 100vh;
}

.description {
  margin: 150px auto;
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;

}

.sign-up {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}

.text-form input {
  width: 300px;
  height: 50px;
  font-size: 35px;
  display: inline-block;
  border-radius: 0 0 0 0;
}

.iphone-photo {
  height: 600px;
  display: none;
}